@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
.bg {
  background-image: url('images/5og.jpg');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
   z-index: -1;
}
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: scroll; 
}

form {
  width: 350px;
  position: relative;
  align-items: center;
}
form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
form .form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  
}
form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #244661;
  border-radius: 4px;
  border: none;
  display: inline;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: white;
  
}
 form .btn {
  width:100%;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color:#fff;
  color: #244661;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 20px;

}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 20px;
  background: #0a3a61;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px 0;
}


.sidenav a {
  padding: 15px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white ;
  display: block;
}

.sidenav a:hover {
  color: #67aee7;
}

.main {
 
  margin-top:0px;
  margin-left: 280px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
 overflow-x: hidden;
 background-image: url('images/5og.jpg');
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-size: cover;
  z-index: -1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  position: absolute;
  border: 2px solid #3498DB;
  background-color:#0a3a61c1;
  width:50%;
  height:80%;
  margin-top:0px;
  margin-left: 200px;
  margin-bottom:50px;
  margin-right: 280px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding:  20px 20px 20px 20px;
  

}
